<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Analyzer</title>
</head>
<body>
    <div id="app">
        <header>
            <h1>Evaluate a News Article</h1>
        </header>
        
        <main>
            <form id="form">
                <textarea id="input-text" placeholder="Enter text" required>Artificial Intelligence (AI) is transforming the world around us. From automating mundane tasks to driving innovation in industries, AI is becoming an integral part of our lives. However, it also raises ethical questions and concerns about job displacement. Balancing the benefits and challenges of AI will be crucial for a sustainable future.
                </textarea>
                <button type="submit">Analyze</button>
            </form>
            
            <section id="results">

            </section>
        </main>

        <footer>
            <p>News Article Analyzer © 2024</p>
        </footer>
    </div>
</body>
</html>
